# rename terraform.example to terraform.tfvars
node_location = "eastus"
resource_prefix = "myazdc"
node_address_space = ["10.0.0.0/16"]
node_address_prefix = ["10.0.0.0/24"]
tag_environment = "terraform"
node_count = 1
vm_username = "azureuser"
vm_password = "S3cr3t!"
os_computer_name = "node"
vm_size = "Standard_B1ls"
image_publisher = "Canonical"
image_offer = "UbuntuServer"
image_sku = "18.04-LTS"
image_version = "latest"
nsg_source_address_prefix = "*"
disk_managed_disk_type = "Standard_LRS"
public_key = "ssh-rsa AAAA......"
